extends layout

block content
	h1= title
	p Welcome to #{title}

	p(id="connections", style="font-size: 25px;") 1

	div.success(id="notifysuccess")
	div.error(id="notifyerror")

	p
		input(type="text", id="putInput")
		button(id="put") Put(T)

	p
		input(type="text", id="readInput")
		button(id="read") Read(T)

	p
		input(type="text", id="takeInput")
		button(id="take") Take(T)

	p
		button(id="drop") Drop NodeSpace

	p(id="foundTuple") Found tuple?
	p(id="returnedTuple") None