extends layout

block content
	h1= title
	p Welcome to #{title}
	p
		span
			b(id="connections", style="font-size: 25px;") 1 
		span 
			b connection(s)
	div.success(id="notifysuccess")
	div.error(id="notifyerror")
	div.warn(id="notifywarn")
	p
		input(type="text", id="putInput")
		button(id="put") Put(T)
	p
		input(type="text", id="readInput")
		button(id="read") Read(T)
	p
		input(type="text", id="takeInput")
		button(id="take") Take(T)
	p
		span
			button(id="drop") Drop NodeSpace
		span
			button(id="populate") Fill NodeSpace
	p
		i(id="status") Status
	p(id="err")
	p
		span
			b JSON 
		span
			button(id="prettify") Prettify
	pre(id="returnedJSON")
	p 
		b CSV
	p(id="returnedCSV")